QWidget {
    background-color: #f0f0f0;
}

QLabel {
    font-size: 18px;
    font-weight: bold;
    background-color: transparent;
}

QLineEdit {
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
}

QPushButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px;
    padding-top: 5px;
    font-size: 16px;
}

QPushButton:hover {
    background-color: #3e8e41;
}